@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<img class="center" src="~/img/quadrant.png" height="500"/>

<br />

<h2>Maybe I should put the completed tasks here?</h2>